.contact-container{
  width: 100%;
    max-width: 1440px;
  margin: auto;
    display: flex;
    justify-content: center;
   // align-content: flex-start;
    
      //  background: url('../img/contact.jpg');
     //   background-repeat: no-repeat;
      //  background-position: center 0;
      //  background-size: cover;

}


.contact-text {
   padding-right: 20px;

   // transform: translate(-50%, -50%);
    color: #786518;

    font-family: "Inter";

  }
.contact-title{
    font-family: "Merriweather";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color:#786518;
    text-align: left;
    letter-spacing: 3px;
}


.map{

    padding-top:100px;
    padding-right: 100px;
}




@media (max-width: 768px) {
    .contact-container{
 
    margin: auto;
      display: flex;
      justify-content: center;
      align-content: center;
          flex-direction: column;
      background: url('../img/contact.jpg');
      background-size: cover;
      background-position: left center;
     width: 100%;
     padding:10px;
  // width: auto;
 
    }

    .contact-title{
        text-align: center;
    }
    .button_contact{
        margin-left: 100px;
        justify-content: center;
    }
    .map{
display: none;
  }
  .contact-text{
    padding-left: 15px;
    padding-right: 15px;
  }

}