.title-container{
    width: 50%;
    margin: auto;
    overflow-x: hidden
}

.skills-container{
  padding-left: 20px;
  padding-right: 20px;
      }

.title{
    font-family: "Merriweather";
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 80px;
color:#BDAE82;
vertical-align: middle; 
text-align: center;
overflow: hidden; /* Скрываем линии, чтобы они не выходили за ширину блока заголовка */

  text-align: center;

}

.title::before,.title::after {
  display: inline-block;
    content: "";
height: 2px;
    width: 100%;
    transform: translateY(-1rem);
  
    box-sizing: border-box;
    border-width: 0 30px; /* Отступ от текста */
  background-color:#BDAE82;
  }

  .skills-items {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
  
   width: 100%;
    flex-wrap: wrap;
    color:#FFFFFF;
    margin: auto;
    padding-bottom: 53px;
  }
  .title:before {
    margin-left: -100%;
  
  }
  .title:after {
    margin-right: -100%;
   
  }
      



  .skill-item {
 
      text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 20%;
    background-position: center top;
  }
  


  .skill-name{
    text-align: center;
    padding-top: 28px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 2px;
  }
  
  .skill-desc{
  
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
  }

  @media (max-width: 768px) {
    .skills-container{
width: 100%;
    }
    .title-container{
      width: 60%;
      margin: auto;
    }
 
 
      .skills-items {
        width: calc(100% - 40px);
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;


      }
      .skill-item{
        width: 45%;
        position: relative;
      }
    
  }

  @media (max-width:458px) {
    .skills-container{
width: 100%;
    }
    .title-container{
      width: 60%;
      margin: auto;
    }
 
 
      .skills-items {
        width: calc(100% - 40px);
        display: flex;
       flex-direction: column;
justify-content: center;
margin: auto;

      }
      .skill-item{
        width: 45%;
        position: relative;
        margin: auto;
      }
    
  }